html {
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
}

@keyframes animated {
    0%{background-position:0% 100%}
    50%{background-position: 100% 0%}
    100%{background-position:0% 100%}
}

body {
  background: linear-gradient(235deg, #ff0000, #ffa500, #ffff00, #008000, #0000ff, #4b0082, #ee82ee);
  background-size: 800%;
  animation: animated 120s ease infinite;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

h2, h3 {
  color: black;
  font-family: 'Open Sans', sans-serif;
}

h2 {
  font-size: 30px;
}

h3{
  font-size: 24px;
}
h3.subtitle{
  color: white;
}

.snarkycomment{
  height: 280px;
  width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#comment{
  font-size: 50px;
  font-weight: 100;
}

button {
  min-height: 40px;
  min-width: 200px;
  background-color: rgba(255, 255, 255, .6);
  color: black;
  line-height: 37px;
  margin: auto;
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  font-weight: bold;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 10px 20px 10px 20px;
  box-shadow: 5px 5px 0px rgba(0, 0, 0, .8);
  border-radius: 10px;
  border: none;
}

button:hover {
  transform: scale(1.2);
  background-color: rgba(255, 255, 255, .9);
}


img.logo{
  width: 100px;
  margin-top: 20px;
}
.label > img {
  border-radius: 50%;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, .3);
  margin: 20px 10px;
}

div.label{
  width: 130px;
  height: 130px;
  margin: 20px;
}




.button:active, .circle:active {
  box-shadow: none;
}

#icon1 {
  border-radius: 50%;
}

input{
  padding: 0;
}

div.label > img:hover{
  transform: scale(1.2);
}

img.homepage:hover{
  transform: scale(1.2);
}

input[type=radio]:checked+img{
      transform: scale(1.2);
        background-color: black;
}

input[type="radio"] {
  visibility: hidden;
}

input[type="text"] {
  font-size: 30px;
  font-color: black;
  width: 600px;
  text-align: center;
  border: 1px solid black;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, .4);
  padding: 10px;
  color: black;
  border-radius: 5px;
}

input[type="text"]:focus {
  background-color: white;
}

input[type="text"]:not(focus) {
  background-color: rgba(255, 255, 255, .7);
}

#maincontent {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#intro {
  font-family: Arial;
}

h1 {
  font-family: 'Fredoka One', cursive;
  font-size: 70px;
  color: white;
  margin: 0px;
}

#zipcodeform p {
  margin-top: 30px;
}

#selections {
  display: none;
}

#categories {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  align-content: center;
}

#choices {
  display: none;
}

#eventbox {
  height: auto;
  width: 650px;
  padding: 50px;
  background-color: white;
  color: black;
  border-radius: 10px;
  box-shadow: inset 0 0 1px 1px gray, 0px 10px 15px rgba(0, 0, 0, .5);
  display: inline-block;
  vertical-align: middle;
  font-family: Arial;
  margin: 40px 0 10px 0;
}

#showpage {
  height: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#eventinfo h1 {
  font-size: 30px;
}

#startagainbutton {
  display: none;
}

#introbox {
  border: 1px solid white;
  height: 100px;
  width: 100px;
  position: ;
}

#intro h2 {
  color: white;
}

.icons{
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  align-self: center;
  margin-top: -30px;
  margin-bottom: 30px;
}
section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

main{
 width: 100%;
 height: 100%;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 align-content: center;
}

.buttoncontainer{
  margin: 30px;
}

@media (max-width: 750px) {
  input[type="text"] {
    font-size: 25px;
    width: 320px;
    text-align: center;
    border: 1px solid black;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, .4);
    padding: 8px;
    color: black;
    border-radius: 5px;
  }

  .icons{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 0px;
  }

  div.label{
    margin: 5px;
  }


  .label > img {
    margin-top: 10px;
    width: 100px;
    height: 100px;
  }
  #eventbox {
    height: auto;
    width: 320px;
    padding: 10px;
  }
  button{
    margin-bottom: 20px;
  }
  .snarkycomment{
    height: 300px;
    width: 350px;
}

main {
display: block;
}

}

@media (max-width 400px){
  .label > img {
    margin-top: 5px;
    width: 100px;
    height: 100px;
  }
}
