<div id="intro">
<img class="logo" src="../../css/Logo.png" />
<h1>Hey, I'm Bored!</h1>

  <h2>Insert text about app!</h2>

  <form id="zipcodeform" data-ng-submit="vm.create(user)" ng-controller="IndexController">

    <input id="textbox" type="text" name="postal_code" placeholder="What's your city or zip?"  data-ng-model="user.postal_code"><br/>

    <section>
    <div class="icons">
      <label ng-repeat="category in categories">
        <div class="label">
          <img ng-class="{'clicked': clicked}" ng-click="clicked = !clicked" src="../../css/{{category}}icon.png" />
          <input type="checkbox" checklist-model="user.categories" checklist-value="category">
        </div>
      </label>
    </div>
    </section>
      <button type="submit">Let's Go!</button>
  </form>


  <br/>

</div>
