<div id="intro">

<img class="logo" src="/hey-im-bored-angular/css/Logo.png" />
<h1>Hey, I'm Bored!</h1>

  <h3 class="subtitle">Pop in your location and click a category to find last minute events in your area</h3>

  <form id="zipcodeform" data-ng-submit="vm.create(user)" ng-controller="IndexController">

    <input id="textbox" type="text" name="postal_code" placeholder="What's your city or zip?"  data-ng-model="user.postal_code"><br/>

    <section>
    <div class="icons">
      <label ng-repeat="category in categories">
        <div class="label">

          <input id="a1" class = "radiostyle" name="category" type="radio" data-ng-model="user.categories" ng-value="category">
          <img for="a1" ng-class="{'clicked': clicked}" class="radiostyle" ng-click="clicked = !clicked" src="/hey-im-bored-angular/css/{{category}}icon.png" />
        </div>
      </label>
    </div>
    </section>
    <div class="buttoncontainer">
      <button type="submit">Let's Go!</button>
    </div>
  </form>

</div>
