<div id="showpage">
<a ui-sref="index"><img class="logo homepage" src="/hey-im-bored-angular/css/Logo.png" /></a>
<h1 data-ng-show="EventValid">What do you think about...</h1>
<h1 data-ng-hide="EventValid">Really? Nothing interests you?</h1>

<div class="snarkycomment" data-ng-hide="EventValid">
  <h1 id="comment" data-ng-hide="EventValid">{{event.comment}}</h1>
</div>

<div data-ng-show="EventValid" id="eventbox">
<h2 data-ng-show="EventValid">{{event.title}}</h2>

<h3 data-ng-show="EventValid">VENUE: {{event.venue_name}}</h3>
<h3 data-ng-show="EventValid">LOCATION: {{event.venue_address}}</h3>
</div>
<div class="buttoncontainer">
  <button data-ng-show="EventValid" data-ng-click="vm.destroy(event)">Nahhh, I'll Pass</button>
  <a href={{event.url}} target="blank"><button data-ng-show="EventValid">Hell, Yea!</button></a>
  <button data-ng-click="vm.searchAgain()" ng-hide="EventValid">Search Again</button>
</div>
</div>
